@import '../app.module.scss';


.container {
    width: 100%;
    position: relative;
}

.detail-container {
    min-height: 700px;
    max-width: 1600px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin-top: 5px;


    .image-container {
        width: 57%;
        min-height: 400px;
        justify-self: flex-start;
        margin: 0px 20px;

        .detail-image {
            height: 500px;
            width: 500px;
        }
    }

    .detail-info {
        width: 40%;
        min-height: 400px;
        margin: 0px 20px;
        justify-self: flex-end;

        .detail-title {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 32px;
            margin: 0px 20px 20px 0px;

        }

        .detail-desc {
            font-size: 16px;
            margin: 4px 20px 10px 0px;
            font-weight: 400;

        }

    }

    .detail-add-btn {
        padding: 1rem 3rem;
        text-transform: uppercase;
        letter-spacing: var(--mainSpacing);
        font-size: 1rem;
        background: var(--primaryColor);
        color: var(--mainBlack);
        border: 1px solid var(--primaryColor);
        transition: var(--mainTransition);
        cursor: pointer;
    }
}